footer .footer__img img{
  width: 5rem;
  margin: auto;
  display: block;
}
.footerContainer{
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  align-items: center;
}

.footerContainer .social{
  width: 50%;
  padding: 0 7%;
  @media (max-width: 720px) {
    width: 100%;
    padding: 2% 26%;
  }
  @media (max-width: 650px) {
    width: 100%;
    padding: 2% 5%;
  }
}

.footerContainer .social .margin__social{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footerContainer .social img{
  width: 2.5rem;
}

.footerContainer .newsletter{
  width: 50%;
  @media (max-width: 720px) {
    width: 100%;
  }
}

.footerContainer input {
  width: 100%;
  height: 2rem;
  border-radius: 36px;
  box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.3);
  padding-left: 1rem;
  font-size: 0.8rem;
}

.footerContainer .newsletter form{
  position: relative;
  width: 80%;
  margin-top: 0.5rem;
  @media (max-width: 720px) {
    width: 100%;
  }
}

.footerContainer .newsletter .margin__newsletter{
  @media (max-width: 720px) {
    width: 50%;
    margin: auto;
  }
  @media (max-width: 650px) {
    width: 90%;
    margin: auto;
  }
}

.footerContainer .newsletter form button{
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 2rem;
  background-color: #0B24FA;
  color: #F2F2F2;
  -webkit-border-top-right-radius: 36px;
  -webkit-border-bottom-right-radius: 36px;
  -moz-border-radius-topright: 36px;
  -moz-border-radius-bottomright: 36px;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  font-weight: bold;
}

.footerContainer .newsletter span {
  font-size: 1.2rem;
  text-align: center;
  padding-left: 1.5rem;
}