header.header{
  padding: 0 6vw;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  background: white;
  @media (max-width: 789px){
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
}

.header__left{
  display: flex;
  flex-flow: row nowrap;
  width: 20vw;
  justify-content: space-between;
}

.probox{
  @media (max-width: 789px){
    display:none;
  }
}

.logoImg {
    height: 40px;
}
