.productHeader {
  position: relative;
  height: 40vh;
  width: 100vw;
  background-image: url("img/produt_head.jpeg");
  color: #F2F2F2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.productSection{
  padding: 0 3vw;
}

.productSection .products__title{
  margin: 0;
}